.drag
  margin 0 auto
  width $column-width
  font-weight 600
  text-align left
  display flex
  flex-direction column

  &-sentences
    position relative
    height 7rem
    order 1
    margin 0 auto
    width 35rem

  .click-sentence
    opacity 0
    position absolute
    transition 300ms
    padding 0 1rem

    &.is-visible
      opacity 1
      transition 300ms

  .stat-sentence
    opacity 0
    position absolute
    transition 300ms
    padding 0 1rem
    line-height 2
    text-align: center

    .stat-women
      background-color $tag-red
      padding 0.25rem 0.5rem
      color $bg-denim
      //border 1px dashed $gold-stitch
      set-type-size('large', true)
    .stat-men
      background-color $gold-stitch
      padding 0.25rem 0.5rem
      color $bg-denim
      //border 1px dashed $gold-stitch
      set-type-size('large', true)

    &.is-visible
      opacity 1
      transition 300ms

  &-animation
    display flex
    flex-direction row-reverse
    order 0
    margin 2rem auto

    .animate-chart
      width 225px
      height 200px

      .outline
        stroke $dark-denim
        stroke-width 1px
        fill rgba($light-denim, .2)
        stroke-dasharray 5,5

      .largestRect
        fill rgba($dark-denim, .2)
        stroke $dark-denim
        stroke-width 1px
        stroke-dasharray 5,5
