.drag
  margin 0 auto
  width $column-width
  font-weight 600
  text-align left
  display flex
  flex-direction column

  .stat-sentence
    order 1

    .stat-women
      background-color $tag-red
      padding 0.25rem 0.5rem
      color $bg-denim
      //border 1px dashed $gold-stitch
      set-type-size('large', true)
    .stat-men
      background-color $gold-stitch
      padding 0.25rem 0.5rem
      color $bg-denim
      //border 1px dashed $gold-stitch
      set-type-size('large', true)

  &-animation
    display flex
    flex-direction row-reverse
    order 0
    margin 2rem auto

    .animate-chart
      width 225px
      height 200px

      .outline
        stroke $dark-denim
        stroke-width 1px
        fill rgba($light-denim, .2)
        stroke-dasharray 5,5

      .largestRect
        fill rgba($dark-denim, .2)
        stroke $dark-denim
        stroke-width 1px
        stroke-dasharray 5,5
