.drag
  margin 0 auto
  max-width $column-width
  font-weight 600
  text-align left
  display flex
  flex-direction column

  &-sentences
    position relative
    height 7rem
    order 1
    margin 0 auto
    max-width 35rem
    min-width 20rem

  .click-sentence
    opacity 0
    position absolute
    transition 300ms
    padding 0 1rem

    &.is-visible
      opacity 1
      transition 300ms

  .stat-sentence
    opacity 0
    position absolute
    transition 300ms
    padding 0 1rem
    line-height 3
    text-align: center
    +mq('bp-4')
      line-height 2.5

    .stat-women
      background-color $tag-red
      padding 0.25rem 0.5rem
      color $bg-denim
      //border 1px dashed $gold-stitch
      set-type-size('large', true)
    .stat-men
      background-color $gold-stitch
      padding 0.25rem 0.5rem
      color $bg-denim
      //border 1px dashed $gold-stitch
      set-type-size('large', true)

    &.is-visible
      opacity 1
      transition 300ms

  &-animation
    display flex
    flex-direction row-reverse
    order 0
    margin 2rem auto

    .animate-chart
      // max-width 200px
      // height 200px

      .outline
        stroke-width 2px
        stroke-dasharray 5,5

        &-women
          stroke $tag-red
          fill rgba($tag-red, 0.3)

        &-men
          stroke $gold-stitch
          fill rgba($gold-stitch, 0.3)

      .largestRect
        fill rgba($dark-denim, .2)
        stroke $dark-denim
        stroke-width 1px
        stroke-dasharray 5,5
