.area
  .chart
    display flex
    flex-direction column
    svg
      width 300px
      height 300px
      border 1px solid red

      .outline
        stroke black
        stroke-width 2px
        fill none
