.area
  &-graphic
    display flex
    flex-wrap wrap
    .chart
      display flex
      flex-direction column
      margin 1rem
      svg
        width 200px
        height 300px
        border 1px solid red

        .outline
          stroke black
          stroke-width 2px
          fill none
          stroke-opacity 0.1
