.debunk
  .debunk-graphic
    display flex
    flex-wrap wrap
    max-width 900px
    margin 0 auto

    .container
      width 225px
      height 300px

      svg
        stroke-width 1px
        stroke black
        stroke-opacity 0.1
        fill none
