.debunk
  &-ui
    display flex
    flex-direction row
    justify-content flex-start
    align-items: baseline;
    max-width $column-width
    margin 0 auto
    padding 0 1rem
    span
      set-type-size('small', true)
      color $mid-denim

    .btn
      padding 0.5rem
      margin 0 0.5rem
      background-color rgba($light-denim, .2)
      border 1px dashed $mid-denim

      &.is-active
        background-color rgba($light-denim, .8)
        border 1px dashed $dark-denim
        font-weight 600

  &-graphic
    display flex
    flex-wrap wrap
    max-width 900px
    margin 4rem auto
    justify-content: space-around;

    .chart-label
      text-transform uppercase
      font-family $sans
      font-weight 600

    .container
      //max-width 225px
      height 300px
      min-width 125px

      svg
        stroke-width 2px
        stroke $dark-denim
        stroke-opacity 0.1
        fill none
