.debunk-wrapper
  margin-top 3rem

  .section-hed
    margin-bottom -1rem

.debunk
  &-ui
    display flex
    flex-wrap wrap
    flex-direction row
    justify-content flex-start
    align-items: baseline;
    max-width $column-width
    margin 0 auto
    padding 0 1rem
    span
      width 100%
      margin-bottom 0.5rem
      set-type-size('small', true)
      color $mid-denim
      +mq('bp-3')
        width 6rem

    .btn
      padding 0.5rem
      margin 0 1rem 0 0
      background-color rgba($light-denim, .2)
      border 1px dashed $mid-denim
      transition 300ms
      width 75px
      pointer-events all
      +mq('bp-3')
        margin 0 0.5rem

      &.is-active
        background-color rgba($light-denim, .8)
        border 1px dashed $dark-denim
        font-weight 600

      &:hover
        background-color rgba($light-denim, .6)
        border 1px dashed $mid-denim
        transition 300ms

  &-graphic
    display flex
    flex-wrap wrap
    max-width 900px
    margin 4rem auto 0 auto
    justify-content: space-around;

    .chart
      display flex
      flex-direction column

      &-men-skinny
        order 1

      &-women-skinny
        order 0

      &-men-straight
        order 3

      &-women-straight
        order 2

    .chart-label
      text-transform uppercase
      font-family $sans
      font-weight 600
      set-type-size('x-small')
      +mq('bp-4')
        set-type-size('root')

    .selected-brand
      order 2
      //text-transform uppercase
      //text-align center
      opacity 0
      transition 300ms

      &.is-active
        opacity 1
        transition 300ms

    .container
      //max-width 225px
      //height 220px
      min-width 125px

      .g-vis

        .outline
          transition 300ms
          stroke-width 2px
          stroke $mid-denim
          stroke-opacity 0.15
          fill none

          &.is-active
            stroke-opacity 1
            stroke $dark-denim
            transition 300ms

        .measure
          fill $mid-denim
          set-type-size('x-small')
          opacity 0
          transition 300ms

          &.is-active
            opacity 1
            transition 300ms

        .measure-bg
          fill none
          stroke $bg-denim
          stroke-width 6px
          stroke-opacity 0
          set-type-size('x-small')
          transition 300ms

          &.is-active
            stroke-opacity 1
            transition 300ms

        .measure-path
          fill none
          stroke $light-denim
          stroke-width 1px
          stroke-dasharray 3px
          stroke-dashoffset 2px
          stroke-opacity 0
          transition 300ms

          &.is-active
            stroke-opacity 1
            transition 300ms
