.fit
  .fit-table
    display flex
    flex-direction row
    .chart
      display flex
      flex-direction column

      .container
        display flex
        flex-wrap wrap
        .fit-brand
          display flex
          flex-direction column
          border 1px solid black
          margin 20px
          width 225px
          height 350px

          .text
            order 0
            display flex
            justify-content: space-between;
            margin 1rem 0

            .brand
              margin-left 1rem
              text-transform: uppercase;
              font-weight 600

            .style
              margin-right 1rem
              text-align right
              set-type-size('small', true)
          svg
            order 1

            .outline
              stroke black
              stroke-width 1px
              fill none

            .measure
              set-type-size('x-small')
