.fit
  &-container
    max-width 1020px
    margin 0 auto
  .fit-table
    display flex
    flex-direction row

    .chart
      display flex
      flex-direction column
      margin 0 10px

      .text-menWomen
        text-transform: uppercase;
        font-weight 600

      .container
        display flex
        flex-wrap wrap


        .fit-brand
          width 225px
          height 325px
          margin 10px 10px 10px 0
          display none

          &.visible
            display block

          .tooltip
            background-color: $dark-denim
            position absolute
            width 225px
            height 325px
            opacity 0
            transition 300ms
            display flex
            align-items: center
            justify-content: center

            &-text
              display flex
              flex-direction column
              text
                color $white
                margin 1rem
                text-align: center
            &:hover
              opacity 0.9
              transition 300ms

          .display
            display flex
            flex-direction column
            border 1px solid black
            position absolute
            width 225px
            height 325px


            &.dimmed
              opacity 0.2


            .text
              order 0
              display flex
              justify-content: space-between;
              margin 0.75rem 0 1.5rem 0

              .brand
                margin-left 0.75rem
                text-transform: uppercase;
                font-weight 600

              .style
                margin-right 0.75rem
                text-align right
                set-type-size('small', true)
            svg
              order 1

              .outline
                stroke black
                stroke-width 1px
                fill none

              .largestRect
                fill rgba($dark-denim, .2)
                stroke $dark-denim
                stroke-width 1px
                stroke-dasharray 5,5

              .measure
                set-type-size('x-small')
  .drag
    margin 0 auto
    width 30rem
    font-weight 600
    text-align center
    span
      background-color $dark-denim
      padding 0.1rem 0.25rem
      color $gold-stitch
      border 1px dashed $gold-stitch
      set-type-size('large', true)
