.fit

  .toggle-table
    text-align center
    margin-top 1rem
    .btn
      background-color transparent
      color $fg
      border 1px solid $fg
      padding 0.25em 0.5em
      width 7rem
      text-transform uppercase
      font-weight 600
      transition background-color 250ms
      pointer-events all
      &:hover
      	background-color rgba($mid-denim, 0.2)
      &.is-disabled
        background-color transparent
        color $light-denim
        border 1px solid $light-denim
        pointer-events none

  &-container
    position relative
    pointer-events none
    max-width 1020px
    margin 0 auto

    .ui
      margin 0 0 20px 18px
      pointer-events all

      .ui-style, .ui-brand, .ui-price
        min-width 80px
        height 1.5rem
        cursor pointer
        //margin-right 0.25rem

  .ui-warning
    position absolute
    top 15%
    left 50%
    max-width 25rem
    background-color rgba($light-denim, 0.95)
    border 1px dashed $mid-denim
    padding 0.25rem 1rem
    margin 0 auto
    transform translate(-50%, 0)
    box-shadow 0 0 3px rgba(40,40,40,.25)
    z-index(200)
    opacity 0
    transition 300ms
    pointer-events: none
    &-text
      set-type-size('small', true)
      color $dark-denim
      text-align center

    &.is-active
      opacity 1
      transition 300ms

  .show-more
    position absolute
    width 100%
    height 5rem
    background linear-gradient(rgba($bg-denim, 0), $bg-denim)
    bottom 0
    visibility hidden
    pointer-events none
    &.is-visible
    	visibility visible


  figure
    min-height 320px
    position relative
    //z-index -50
    &.is-truncated
      max-height 46rem
      overflow hidden

  .fit-table
    display flex
    flex-direction row

    .chart
      display flex
      flex-direction column
      margin 0 10px

      .text-menWomen
        text-transform uppercase
        font-weight 600
        margin 0 10px

      .container
        display flex
        flex-wrap wrap
        +mq('bp-6')
          min-width 490px


        .fit-brand
          // width 225px
          // height 325px
          margin 0.5rem
          display none
          cursor: pointer

          &.visible
            display block

          &.men
            .tag
              background-color $gold-stitch
              color $bg-denim
              padding 0.5rem
              text-transform uppercase
              font-weight 600
              set-type-size('x-small', true)
              +mq('bp-4')
                set-type-size('small', true)

          &.women
            .tag
              background-color $tag-red
              color $bg-denim
              padding 0.5rem
              text-transform uppercase
              font-weight 600
              set-type-size('x-small', true)
              +mq('bp-4')
                set-type-size('small', true)

          .text
            display flex

          .leftText
            justify-content space-between
            margin-right 0.5rem

          .rightText
            justify-content space-between
            margin-top 0.5rem

          .tooltip
            background-color: $mid-denim
            position absolute
            // width 225px
            // height 325px
            opacity 0
            transition 300ms
            display flex
            align-items: center
            justify-content: center
            pointer-events all
            cursor pointer

            &-text
              display flex
              flex-direction column
              text
                color $white
                margin 0 1rem
                text-align: center

            &:hover
              opacity 0.9
              transition 300ms

            .tt-name
              font-weight 600

            .tt-fabric
              set-type-size(small)
              margin 3rem 1rem 1rem 1rem

          .display
            display flex
            flex-direction column
            border 1px solid $dark-denim
            position absolute
            overflow hidden
            // width 225px
            // height 325px


            &.dimmed
              opacity 0.2

            .text
              order 0
              margin 0.75rem 0 1.5rem 0
              justify-content space-between

              .brand
                margin 0 0 0 0.75rem
                text-transform uppercase
                set-type-size('x-small', true)
                font-weight 600
                display block
                +mq('bp-4')
                  set-type-size('small', true)

              .style
                margin 0 0 0 0.75rem
                set-type-size('x-small', true)
                display block
                +mq('bp-4')
                  set-type-size('small', true)

            svg
              order 1

              .outline
                stroke $dark-denim
                stroke-width 1px
                fill rgba($light-denim, .2)
                stroke-dasharray 5,5

              .largestRect
                fill rgba($dark-denim, .2)
                stroke $dark-denim
                stroke-width 1px
                stroke-dasharray 5,5

              .measure
                fill $mid-denim
                set-type-size('x-small')
