body
	background-color $bg-denim

.intro
	margin 0 auto
	width 100%
	//height 100vh

	&-details
		width $column-width
		margin 0 auto
		display flex
		flex-direction column
		align-items center

		.intro__date
			set-type-size('small')
			color lighten($mid-denim, 10)
			margin 0

	.pocket-bg
		background-color $light-denim
		padding 1.5rem
		height 75vh
		display flex

		.stitching
			border 1px dashed $dark-denim
			padding 2rem 4rem
			width 100%
			height 100%
			align-items center
			justify-content center

			.svg-wrapper
				width 100%
				display flex

				.p-wrapper
					width 13.5%

				.pocket-wrapper
					width 15%
					position relative

					.pocket-container
						position absolute
						top 0
						left 50%
						margin-left -50%
						width 100%

					.pocket-text-wrapper
						background-color #ffffff
						position absolute
						top 10px
						left 85%
						margin-left -70%
						padding 0.5rem
						width 70%
						height 5rem
						overflow hidden
						transform rotate(-2deg)
						//animation 1s popout infinite

						@keyframes popout {
						  100% {
								width 100%
								transform rotate(0deg)
								transform scale(5)
								overflow hidden
								height auto
						    z-index 0
						  }
						}

					.pocket-text
						margin 0
						padding 0
						font-size .25rem

				.CKET-wrapper
					width 71.5%

	&__pre-hed
		text-align center
		font-weight 200
		color $dark-denim
		set-type-size('large', true)
		+mq('bp-3')
			set-type-size('large', true)
		+mq('bp-5')
			set-type-size('large', true)

	&__hed
		display none
		max-width 60rem
		margin 0 auto
		padding-top 5rem
		font-weight 400
		text-align center
		set-type-size('xx-large', true)
		+mq('bp-3')
			set-type-size('xxx-large', true)
		+mq('bp-5')
			set-type-size('xxxx-large', true)

	&__byline
		// max-width $column-width
		// margin 0 auto
		// padding 1.5rem 0
		// text-align center
		//color $gold-stitch
		margin-bottom 0.5rem
		set-type-size('small', true)

		a
			//color $gold-stitch
			border-bottom 1px solid $off-black

	&__dek
		display none
		max-width $column-width
		margin 0 auto
		padding-top 1.5rem
		text-align center
		set-type-size('medium', true)
