body
	background-color $bg-denim

.intro
	margin 0 auto
	width 100%
	//height 100vh

	&-details
		max-width $column-width
		margin 0 auto
		display flex
		flex-direction column
		align-items center

		.intro__date
			set-type-size('small')
			color lighten($mid-denim, 10)
			margin 0

	.pocket-bg
		background-color $light-denim
		padding 1.5rem
		height 75vh
		display flex

		.stitching
			border 1px dashed $dark-denim
			padding 2rem 4rem
			width 100%
			height 100%
			align-items center
			justify-content center

			.svg-wrapper
				width 100%
				display flex

				.p-wrapper
					width 13.5%

				.animation-check
					.pocket-text-wrapper
						animation 1s popout normal forwards

				.pocket-wrapper
					width 15%
					position relative

					&:hover
						.pocket-text-wrapper
							transform rotate(0deg)

					.pocket-container
						position absolute
						top 0
						left 50%
						margin-left -50%
						width 100%

					.pocket-text-wrapper
						background-color #ffffff
						position absolute
						top 10%
						left 85%
						margin-left -70%
						padding 0.5rem
						width 70%
						height 50%
						overflow hidden
						transform rotate(-2deg)
						box-shadow 0 1px 1px rgba(0,0,0,0.15)

						@keyframes popout {
						  0% {
								transform rotate(2deg)
							}
						  10% {
								transform rotate(0deg)
							}
						  50% {
								transform translateY(-100%)
							}
						  60% {
								z-index 1
								transform perspective(400px) rotateX(3deg) translateY(-100%)
							}
						  100% {
								z-index 1
								height auto
								width 90%
								margin-left 0
								transform rotate(0deg) translateY(0%) scale(3)
							}
						}

						@keyframes popout2 {
							0%{
								z-index 999
							}
							50%{
								height auto
							}
						  100% {
								width 100%
								position absolute
								top 50%
								left 100%
								margin 0 auto
								transform rotate(0deg)
								overflow hidden
								height auto
						    z-index 999
						  }
						}

					.pocket-text
						margin 0
						padding 0
						font-size .25rem

					.attribution
						margin 0.5rem 0 0 0
						font-size .2rem
						font-family $sans
						color $mid-denim

						a
							border-bottom none
							color $mid-denim

				.CKET-wrapper
					width 71.5%

	&__pre-hed
		text-align center
		font-weight 200
		color $dark-denim
		set-type-size('large', true)
		+mq('bp-3')
			set-type-size('large', true)
		+mq('bp-5')
			set-type-size('large', true)

	&__hed
		display none
		max-width 60rem
		margin 0 auto
		padding-top 5rem
		font-weight 400
		text-align center
		set-type-size('xx-large', true)
		+mq('bp-3')
			set-type-size('xxx-large', true)
		+mq('bp-5')
			set-type-size('xxxx-large', true)

	&__byline
		// max-width $column-width
		// margin 0 auto
		// padding 1.5rem 0
		// text-align center
		//color $gold-stitch
		margin-bottom 0.5rem
		set-type-size('small', true)

		a
			//color $gold-stitch
			border-bottom 1px solid $off-black

	&__dek
		display none
		max-width $column-width
		margin 0 auto
		padding-top 1.5rem
		text-align center
		set-type-size('medium', true)
