.methods
  margin 0 auto
  width 100%
  //height 100vh

  .pocket-bg
    background-color $light-denim
    padding 1.5rem
    display flex

  .stitching
    border 1px dashed $dark-denim
    padding 2rem
    width 100%
    height 100%
    align-items center
    justify-content center
    +mq('bp-3')
      padding 2rem 4rem

    .methods-prose
      set-type-size('small', true)
      max-width $column-width
      margin 1rem auto
