.methods
  margin 0 auto
  width 100%
  //height 100vh

  .pocket-bg
    background-color $light-denim
    padding 1.5rem
    display flex

  .stitching
    border 1px dashed $dark-denim
    padding 2rem
    width 100%
    height 100%
    align-items center
    justify-content center
    +mq('bp-3')
      padding 2rem 4rem

    .methods-prose
      set-type-size('small', true)
      max-width $column-width
      margin 1rem auto

    .measurement-deets
      width 100%
      margin-top 3rem
      justify-content flex-start
      display flex
      flex-wrap wrap
      +mq('bp-4')
        justify-content center

      .measurements
        &:before
          display inline-block
          content ''
          width 14px
          height 15px
          border-top 2px solid $tag-red
          position relative
          top 10px
          margin-right 3px

      .straights
        &:before
          display inline-block
          content ''
          width 14px
          height 15px
          border-top 2px solid $dark-denim
          position relative
          top 10px
          margin-right 3px

      .curves
        &:before
          display inline-block
          content ''
          width 14px
          height 15px
          border-top 1px dashed $dark-denim
          position relative
          top 10px
          margin-right 3px

      p
        font-family $atlas
        set-type-size('x-small', true)
        float left
        margin 0 1rem 0 0

    .measurement-diagram
      max-width 25rem
      margin 1rem auto 3rem auto
      display flex
      justify-content center
      clear both

      #g-methods_measures-box
        display block
        +mq('bp-4')
          display flex

        .g-artboard
          margin 0 auto

          p
            margin 0

        .g-aiAbs
          position absolute

        .g-aiImg
          display block
      		width 100% !important

        .g-aiSymbol
          position absolute
      		box-sizing border-box

        .g-aiPointText
          p
            white-space nowrap

        #g-methods_measures-front, #g-methods_measures-back
          position relative
      		overflow hidden
          width 100%
          +mq('bp-4')
            width 50%

        .g-artboard
          p
            set-type-size('xx-small', true)
            font-family $atlas

          .g-pstyle0
            text-align center

          .g-pstyle1
            text-align left
