.scroll
  &-graphic
    display flex
    flex-wrap wrap
    max-width 640px
    margin 0 auto
    svg
      .outline
        stroke black
        stroke-width 2px
        fill none
        stroke-opacity 0.1
