.scroll
  position relative

  &-graphic
    display flex
    position: -webkit-sticky;
    position: sticky;
    top 25%
    bottom auto
    transform translate3d(0, 0, 0)
    flex-wrap wrap
    max-width 640px
    margin 0 auto

    svg
      .outline
        stroke $dark-denim
        stroke-width 2px
        stroke-opacity 0.1

      .group-men
        .outline-average
          stroke $gold-stitch
          stroke-width 4px
          fill rgba($gold-stitch, 0.2)
          stroke-opacity 1

      .group-women
        .outline-average
          stroke $tag-red
          stroke-width 4px
          fill rgba($tag-red, 0.2)
          stroke-opacity 1

      .label
        text-transform uppercase

      .g-measurements
        .measure
          &-bg
            fill none
            stroke $bg-denim
            stroke-width 10px
        .measure-line
          fill none
          stroke-width 1px
          stroke-dasharray 3px
          stroke-dashoffset 2px
          &-woman
            stroke $tag-red
          &-man
            stroke $gold-stitch

  &-text
    position relative
    max-width 30rem
    margin 0 auto
    padding 1rem

    .denim
      background-color rgba(152,189,228, 0.9)
      padding 1rem

    .stitching
      padding 1rem
      border 1px dashed $dark-denim

      .step-prose
        margin 0

        .men-span
          border 2px solid $gold-stitch
          background-color $gold-stitch + 70%
          font-family $sans
          font-weight 600
          padding 0.125rem 0.25rem

        .women-span
          border 2px solid $tag-red
          background-color $tag-red + 70%
          font-family $sans
          font-weight 600
          padding 0.125rem 0.25rem
