<section class='debunk'>
  {{#each copy.debunk}}
    <div class='debunk-wrapper'>
      <h2 class='section-hed'>{{title}}</h2>
      <p class='prose'>{{text}}</p>
      <figure class='debunk-graphic' data-location='{{location}}'></figure>
    </div>
  {{/each}}
</section>
