<section class='fit'>
  <h2 class='section-hed tk-atlas'>{{copy.fit-title}}</h2>
  <p class='prose'>{{copy.fit-text}}</p>
  {{> story/nav }}
  <div class='drag'>
    <p class='stat-sentence tk-atlas'><span class='stat-women'></span> of women's front pockets and <span class='stat-men'></span> of men's front pockets can fit this item.</p>
    <!-- <p class='click-item' data-type='hand'>Hand</p>
    <p class='click-item' data-type='pen'>Pen</p>
    <p class='click-item' data-type='phone'>iPhone X</p>
    <p class='click-item' data-type='wallet'>Front-Pocket Wallet</p> -->
  </div>

  <div class='fit-container'>
    <div class='ui'>
      <select class='ui-style tk-atlas' data-dropdown='style'></select>
      <select class='ui-brand tk-atlas' data-dropdown='brand'></select>
      <select class='ui-price tk-atlas' data-dropdown='price'></select>
    </div>
    <div class='fit-table'>
    </div>
  </div>
</section>
