<section class='fit'>
  <div class='drag'></div>

  <div class='fit-container'>
    <div class='ui'>
      <select class='ui-style tk-atlas' data-dropdown='style'></select>
      <select class='ui-brand tk-atlas' data-dropdown='brand'></select>
      <select class='ui-price tk-atlas' data-dropdown='price'></select>
    </div>
    <div class='fit-table'>
    </div>
  </div>
</section>
