<section class='methods'>
  <div class='pocket-bg'>
    <div class='stitching'>
      {{#each copy.methods}}
        <p class='methods-prose tk-atlas'>{{{value}}}</p>
      {{/each}}
    </div>
  </div>
</section>
