<section class='methods'>
  <div class='pocket-bg'>
    <div class='stitching'>
      {{#each copy.methods1}}
        <p class='methods-prose tk-atlas'>{{{value}}}</p>
      {{/each}}
      <div class='measurement-diagram'>
        <div id="g-methods_measures-box" class="ai2html ai2html-box-v5">

        	<!-- Artboard: front -->
        	<div id="g-methods_measures-front" class="g-artboard" data-aspect-ratio="1">
        		<img id="g-methods_measures-front-img" class="g-aiImg" src="assets/images/methods_measures-front.png"/>
        		<div id="g-ai0-1" class="g-Labels g-aiAbs g-aiPointText" style="top:7.7723%;margin-top:-15.6px;left:53.5171%;margin-left:-98px;width:196px;">
        			<p class="g-pstyle0">minWidthFront</p>
        		</div>
        		<div id="g-ai0-2" class="g-Labels g-aiAbs g-aiPointText" style="transform: matrix(0,1,-1,0,0,0);transform-origin: 50% 53.1982010119308%;-webkit-transform: matrix(0,1,-1,0,0,0);-webkit-transform-origin: 50% 53.1982010119308%;-ms-transform: matrix(0,1,-1,0,0,0);-ms-transform-origin: 50% 53.1982010119308%;top:30.2723%;margin-top:-15.6px;left:90.8488%;margin-left:-104.5px;width:209px;">
        			<p class="g-pstyle0">rivetHeightFront</p>
        		</div>
        		<div id="g-ai0-3" class="g-Labels g-aiAbs g-aiPointText" style="transform: matrix(0,-1,1,0,0,0);transform-origin: 50% 53.1982010119308%;-webkit-transform: matrix(0,-1,1,0,0,0);-webkit-transform-origin: 50% 53.1982010119308%;-ms-transform: matrix(0,-1,1,0,0,0);-ms-transform-origin: 50% 53.1982010119308%;top:54.7723%;margin-top:-15.6px;left:11.9523%;margin-left:-103.5px;width:207px;">
        			<p class="g-pstyle0">maxHeightFront</p>
        		</div>
        		<div id="g-ai0-4" class="g-Labels g-aiAbs g-aiPointText" style="transform: matrix(0,1,-1,0,0,0);transform-origin: 50% 53.1982010119308%;-webkit-transform: matrix(0,1,-1,0,0,0);-webkit-transform-origin: 50% 53.1982010119308%;-ms-transform: matrix(0,1,-1,0,0,0);-ms-transform-origin: 50% 53.1982010119308%;top:62.2723%;margin-top:65.6px;left:30.3449%;width:203px;">
        			<p class="g-pstyle1">minHeightFront</p>
        		</div>
        		<div id="g-ai0-5" class="g-Labels g-aiAbs g-aiPointText" style="top:64.939%;margin-top:-15.6px;left:47.3132%;margin-left:-100.5px;width:201px;">
        			<p class="g-pstyle0">maxWidthFront</p>
        		</div>
        	</div>

        	<!-- Artboard: back -->
        	<div id="g-methods_measures-back" class="g-artboard" data-aspect-ratio="1">
        		<img id="g-methods_measures-back-img" class="g-aiImg" src="assets/images/methods_measures-back.png"/>
        		<div id="g-ai1-1" class="g-Labels g-aiAbs g-aiPointText" style="top:7.7723%;margin-top:-15.6px;left:50.0075%;margin-left:-98.5px;width:197px;">
        			<p class="g-pstyle0">maxWidthBack</p>
        		</div>
        		<div id="g-ai1-2" class="g-Labels g-aiAbs g-aiPointText" style="transform: matrix(0,1,-1,0,0,0);transform-origin: 50% 53.1982010119308%;-webkit-transform: matrix(0,1,-1,0,0,0);-webkit-transform-origin: 50% 53.1982010119308%;-ms-transform: matrix(0,1,-1,0,0,0);-ms-transform-origin: 50% 53.1982010119308%;top:46.939%;margin-top:-15.6px;left:33.1688%;margin-left:-99.5px;width:199px;">
        			<p class="g-pstyle0">minHeightBack</p>
        		</div>
        		<div id="g-ai1-3" class="g-Labels g-aiAbs g-aiPointText" style="transform: matrix(0,1,-1,0,0,0);transform-origin: 50% 53.1982010119308%;-webkit-transform: matrix(0,1,-1,0,0,0);-webkit-transform-origin: 50% 53.1982010119308%;-ms-transform: matrix(0,1,-1,0,0,0);-ms-transform-origin: 50% 53.1982010119308%;top:47.439%;margin-top:-15.6px;left:54.5727%;margin-left:-102px;width:204px;">
        			<p class="g-pstyle0">maxHeightBack</p>
        		</div>
        		<div id="g-ai1-4" class="g-Labels g-aiAbs g-aiPointText" style="top:90.439%;margin-top:-15.6px;left:50.0202%;margin-left:-96.5px;width:193px;">
        			<p class="g-pstyle0">minWidthBack</p>
        		</div>
        	</div>
        </div>
      </div>
      {{#each copy.methods2}}
        <p class='methods-prose tk-atlas'>{{{value}}}</p>
      {{/each}}
    </div>
  </div>
</section>
