<section class='scroll'>
  <div class='scroll-graphic'></div>

  <div class='scroll-text'>
    {{#each copy.steps}}
      <div class='step' data-step='{{{step}}}'>
        <p class='step-prose'>{{{text}}}</p>
      </div>
    {{/each}}
  </div>
</section>
