<section class='scroll'>
  <div class='scroll-graphic'></div>

  <div class='scroll-text'>
    {{#each copy.steps}}
      <div class='step' data-step='{{{step}}}'>
        <div class='denim'>
          <div class='stitching'>
            <p class='step-prose'>{{{text}}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</section>
